@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    text-align: center;
    margin-top: 1%;
    font-family: "Poppins", sans-serif;
    background:#df5617; 
    font-weight: 500;
}
 button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 10px 0px 20px;
    background-color: white;
    font-size: small;
 }
.box{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    height: 260px;
    margin: auto;
    margin-top: 10%;

}
h2{
    font-size: 15px;
}

#border{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 250px;
    height: auto;
    margin: 10px auto;
}
#border div {
    margin: auto;
}